---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
    <div class="lg:col-span-4 self-start top-24 sticky">
      <h2
        class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-[var(--color-text-section-title)]"
      >
        {title}
      </h2>
      <div
        class="w-[75px] h-[5px] mt-2 rounded-full accent-bg-color"
      >
      </div>
    </div>
    <div class="lg:col-span-8">
      <slot name="content" />
    </div>
  </div>
</section>

<style>
  .accent-bg-color {
    background-color: var(--accentColor);
  }
</style>
